@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.slider-container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide{
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .5s ease-in-out;
}

.left-slide > div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.left-slide h1{
   font-size: 3rem;
   margin-bottom: 10px;
   margin-top: -30px;
   margin-left: 40px;
   margin-right: 40px;
}

.left-slide p{
   font-size: 1.2rem;
   margin-left: 40px;
   margin-right: 40px;
}


.right-slide{
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform .5s ease-in-out;
}

.right-slide > div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

button{
  background-color: white;
  border: none;
  color: #706c61;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px;
}

button:hover{
  color: black;
}

button:focus{
  outline: none;
}

.slider-container .action-buttons button{
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button{
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button{
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}